p{
  border: 1px solid black;
  margin-bottom: 15px;
}
#par1{
  background-color: #A52A2A;
  width: 300px;
  height: 300px;
}
#par2{
  background-color: #DEB887;
  width: 50px;
  height: 50px;
}
/*Media query for short devices*/
@media (min-width: 992px) and (max-width: 1199px){
  #par1{
    width: 70%;
  }
  #par2{
    width: 120px;
    height: 120px;
  }
}
/*Media query for  large devices*/
@media (min-width: 1200px){
  #par1{
    width: 50%;
  }
  #par2{
    width: 100px;
    height: 100px;
  }
}
