*{
  box-sizing: content-box;
}
body{
  font-size: 16px;
  background-color: #FFBFB1;
  font-family: 'Oxygen', sans-serif;
}

.clear { clear:both; }

/*Contact us Information*/
#top-contact{
  color: #ffffff;
  font-size: 17px;
  background-color: #000000;
  padding-left: 5%;
}
/*Header properties*/
#header-nav{
  background-color: #998E8E;
  border-radius: 0;
  border: 0;
}
/*Logo properties*/
#logo-img{
  background: url("../images/LOGO.png") no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}
.navbar-brand{
  padding-top: 40px;
}
/*Navigation bar properties*/
#navigator{
  width: 100%;
  padding: 0;
}
#navbarNavAltMarkup div{
  width: 100%;
}
.navbar-nav a{
  text-align: center;
  color: #ffffff;
  background-color: #665A5A;
  width: 100%;
}
.navbar-nav a:hover{
  background-color: #998E8E;
}
/*Slogan properties*/
.navbar-brand h1{
  font-family: 'Saira', sans-serif;
  color: #ffffff;
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}
/*carousel properties*/
#carouselExampleIndicators{
  height: 50px;
  display: inline-block;
  position: relative;
}
.carousel-inner{
}


.text-center h1{
  font-size: 6vw;
  margin-top: 1vw;
}
.card-deck{
  margin-top: 5%;
  position: relative;
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #navigator{
    width: auto;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #navigator{
    width: auto;
  }

}
